.footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: stretch;
    background-color: #1E1E1E;
}

.logo-footer {
    width: 120px;
    margin: auto;
}

.hr {
    margin: 60px auto;
    width: 90%;
}

.info_footer{
    padding: 0 80px 100px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.map_footer {
    position: relative;
}

.map-item {
    width: 100%;
    position: relative;
    border: none;
    height: 455px;
    margin-bottom: 0;
}

.location-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45px;
}

.title_footer{
    color: #428BDD;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.footer-section, .footer-details {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1024px) {
    .info_footer{
        padding: 0 50px 40px;
        gap: 30px;
    }
}

@media screen and (max-width: 769px) {
    .hr {
        margin: 0 auto 30px auto;
        width: 90%;
    }

    .info_footer {
        flex-direction: column;
        align-items: center;
    }

    .footer-section, .footer-details {
        align-items: center;
    }

    .logo-footer {
        width: 90px;
        margin: auto;
    }
}

@media screen and (max-width: 548px) {
    .map-item {
        height: 250px;
    }
}
