@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant:ital,wght@0,1..1000;1,1..1000&display=swap');
@import "header.css";
@import "why-us.css";
@import "portfolio.css";
@import "form.css";
@import 'testimonials.css';
@import "socials.css";
@import "questions.css";
@import "footer.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ysabeau Infant", sans-serif;
    color: #EDEDED;
}

body {
    background-color: #1E1E1E;
    max-width: 1200px;
    margin: auto;
}

li {
    list-style: none;
}
