.why-us {
    padding: 160px 100px;
}

.title {
    display: flex;
    gap: 10px;
    flex-direction: row;
    padding: 5px;
    align-items: center;
    margin-bottom: 40px;
}

.section-heading {
    font-size: 48px;
    font-weight: 400;
    line-height: 64.46px;
    color: #EDEDED;
}

.why-us-container {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.why-us-img {
    max-width: 100%;
    width: 50%;
    height: 100%;
}

.why-us-number {
    color: #428BDD;
    font-size: 56px;
    font-weight: 700;
    line-height: 75.21px;
}

.why-us-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 32.23px;
    color: #EDEDED;
    margin-bottom: 20px;
}

.why-us-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 24.17px;
    color: #EDEDED;
    margin-bottom: 20px;
}

.slider {
    position: relative;
    overflow: hidden;
    display: grid;
    align-items: center;
    grid-template-columns: 10fr 2fr;
}

.arrow-right {
    width: 50px;
}

.slider-item {
    display: none;
}

.slider-item.active {
    display: block;
}

.carousel-dot_whyWe {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #333;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 5px;
}
.carousel-dot_whyWe.active {
    background-color: #428BDD;
}

@media screen and (max-width: 1024px) {
    .why-us {
        padding: 50px;
    }
}

@media screen and (max-width: 769px) {
    .why-us {
        padding: 20px;
    }

    .why-us-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .why-us-img {
       width: 100%;
    }

    .title {
        margin-bottom: 20px;
    }

    .section-heading {
        font-size: 28px;
        line-height: normal;
    }
}
